<div class="homePage">
    <div class="navbar">
        <div class="logo">
            <%= image_tag("logo.png", width:'100px', height:'100px') %>
        </div>
        <li><%= link_to "Sign In", trestle_path %></li>
        <li><%= link_to "Sign Up", signup_path %></li>
    </div>
    <div class="homeContent">
        <h1>CSE GRADERS</h1>
    </div>
</div>
